{#We want the form to be hidden when a person is logged in#}
{#We want a welcome message to show up when they are logged in#}
{#We also want a logout button to show up when they are logged in#}

{% extends "::base.html.twig" %}

{% block content %}
    {% if loggedIn %}

        Welcome {{ name }}
        <form action="/logout" method="post">
            <input type="submit" value="Logout"/>
        </form>

    {% else %}

        {% if msg %}
            <span style="color:red">{{ msg }}</span>
        {% endif %}

        <form action="/login_form" method="post">

            Username: <input type="text" name="username" value="{{ username }}"/>
            <br/>
            Password: <input type="password" name="password" value="{{ password }}"/>
            <br/>

            <input type="submit" value="Login"/>
        </form>

    {% endif %}
{% endblock %}